#container_index { 
	padding:10px; 
	background-color:#FFFFFF;
	width:400px;
	overflow: hidden; 
	height: 420px;
}
#container_index .tweet_index {
	margin:0px; 
	padding:10px;
	border-top:1px dotted #333366; 
	height:70px; 
}
#container { 
	padding:10px; 
	background-color:#FFFFFF;
	width:600px;
}
#container .tweet {
	margin:0px; 
	padding:10px;
	border-top:1px dotted #333366; 
	height:70px; 
}
a {
	text-decoration: none;
}
p.pubtime {
	font-size:85%;
	color:gray;
	float:right;
}