#{extends 'main.html' /}
#{set title:'我的首页 eLook-e博' /}


${user.name} ${user.followCount}关注${user.followerCount}粉丝${user.feedCount}微博 #{a @Secure.logout()}退出#{/a}


#{if isFollowed == null }
   <span id="isFollowed"></span>
#{/if}
#{elseif isFollowed}
    <span id="isFollowed">已关注</span>
#{/elseif}
#{else}
    <span id="isFollowed"><a href="javascript:void(0)" onclick="follow();">关注</a></span>
#{/else}

#{secure.check user.name}
<div>
<textarea id="content" rows="5" cols="50" maxlength="127">${content}</textarea>
<input type="button" value="发表" onclick="publishing();"/>
</div>
#{/secure.check}


<div id="tip">
</div>

<div id="container">
</div>

<p id="pager">
#{if curpage > 1 }
    #{a @tweet(user.name, curpage - 1) }上一页#{/a}
#{/if}

第${curpage}页

#{if curpage < maxpage }
    #{a @tweet(user.name, curpage + 1) }下一页#{/a}
#{/if}
</p>


<script type="text/javascript">
function follow() {
	$.get("@{CUser.follow(user.name)}", function(data){
		  if(data == "OK") {
			  alert("关注成功..");
			  $("#isFollowed").html("已关注");
		  }
		  else {
			  alert("系统繁忙..请稍后再试");
		  }
		});
}

function publishing() {
	$.post("/tweet/publish",
			{"content" : $("#content").val()},
			   function(data){
				if(data == "OK") {
					alert("发表成功...");
					var now = new Date();
					var time = (now.getMonth() + 1) + "月" +
						now.getDate() + "日" + now.getHours() + ":" + 
						now.getMinutes();
					var newtweet = "<div class='tweet'><a href='/" + "${session.username}" +
						"' target='_blank'>" + "${session.username}" + "</a>："
						+ $("#content").val() +  
						"<p class='pubtime'>" + time + "</p></div>";
					$("#container").prepend(newtweet);
					$("#content").val("");
				}
				else {
					alert("系统繁忙..请稍后再试");
				}
	});
}

function refresh() {
	$.get("@{refresh(user.id)}", function(data){
		  if(data == "0")
			  $("#tip").html("");
		  else
		  	$("#tip").html("<a href='javascript:void(0)' onclick='getfresh(${user.id});'>有" + 
				  data + "条新微博，点击查看</a>");
		});
}

function getfresh(id) {
	$.getJSON("/tweet/getfresh",
			{"id" : id},
			function(data) {
			$.each(data,function(idx,item){
			        var newtweet = "<div class='tweet'><a href='/" + eval('(' + item + ')').writer + 
			        "' target='_blank'>" + eval('(' + item + ')').writer + "</a>：" +
			        eval('(' + item + ')').content +
			        "<p class='pubtime'>" + eval('(' + item + ')').time + "</p></div>";
			    	$("#container").prepend(newtweet);
			    });   
	   });
	 $("#tip").html("");
}

$(function() {
	$.getJSON("/tweet/pull",
			{"name" : "${user.name}", "page" : "${curpage}" },
			function(data) {
			$.each(data,function(idx,item){
			        var newtweet = "<div class='tweet'><a href='/" + eval('(' + item + ')').writer + 
			        "' target='_blank'>" + eval('(' + item + ')').writer + "</a>：" +
			        eval('(' + item + ')').content +
			        "<p class='pubtime'>" + eval('(' + item + ')').time + "</p></div>";
			    	$("#container").prepend(newtweet);
			    });   
	   });
});
$(function () { 
	setInterval(refresh, 60000); 
}); 
</script>