#{extends 'main.html' /}
#{set title:'我的首页 eLook-e博' /}

<div id="summary">
<img class="photo" src="/photo/${me.photo.exists()?me.photo.getUUID():'default'}" />${me.name} <a href="/${session.username}">我的首页</a> 
${me.followCount}关注 ${me.followerCount}粉丝 ${me.feedCount}微博 #{a @Secure.logout()}退出#{/a}


#{a @CUser.showFollowers()}我的粉丝#{/a}|
#{a @showFeeds(me.name)}我的微博#{/a}|
#{a @CommentCtrl.commentList()}我的评论#{/a}|
#{a @ChatCtrl.chatList()}我的私信#{/a}


<div>
<textarea id="content" rows="5" cols="50" maxlength="127"  wrap="virtual">${content}</textarea>
<input type="button" value="发表" onclick="publishing();"/>
</div>
</div>

<div id="tip">
</div>
<div id="tipChat">
</div>
<div id="tipComment">
</div>

<div id="container">
</div>

<p id="pager">
#{if page > 1 }
    #{a @tweet(me.name, page - 1) }上一页#{/a}
#{/if}

第${page}页

#{if page < maxpage }
    #{a @tweet(me.name, page + 1) }下一页#{/a}
#{/if}
</p>


<script type="text/javascript">
function publishing() {
	publish("${me.name}", "${me.photo.exists()?me.photo.getUUID():'default'}");
}

$(function() {
	init(${curpage});
	freshchat();
	freshcomment();
	
	setInterval(refresh, 120000);
	setInterval(freshchat, 40000);
	setInterval(freshcomment, 40000);
});
</script>