#{extends 'main.html' /}
#{set title:'Home' /}


<h1>eLook垃圾版</h1>
#{a @Cuser.userInfo()}注册#{/a}

<div id="container_index">
</div>


<script type="text/javascript">
$(pull());

$(function () { 
	setInterval(pull, 180000); 
}); 

$(function(){
	var scrtime;
 	$("#container_index").hover(function(){
		clearInterval(scrtime);
	
	},function(){
	
	scrtime = setInterval(function(){
		var $con = $("#container_index");
		var tweetHeight = $con.find("div:last").height();
		$con.animate({marginTop : tweetHeight + 20 +"px"},1000,function(){		
		$con.find("div:last").prependTo($con)
		$con.find("div:first").hide();
		$con.css({marginTop:0});
		$con.find("div:first").fadeIn(300);
		});	
	},3000);
	
	}).trigger("mouseleave");
	
	
});

function pull() {
	$.getJSON("/application/show",
			function(data) {
			$("#container_index").html("");
			$.each(data,function(idx,item){
				var newtweet = "<div class='tweet_index'><a href='/" + eval('(' + item + ')').writer + 
			        "' target='_blank'>" + eval('(' + item + ')').writer + "</a>：" +
			        eval('(' + item + ')').content +  
			        "<p class='pubtime'>" + eval('(' + item + ')').time + "</p></div>";
			    	$("#container_index").prepend(newtweet);
			});   
	   });
}
</script>