#{extends 'main.html' /}
#{set title:'我的评论 eLook-e博' /}

<div id="summary">
#{a @Tweet.showFeeds(session.username)}${session.username}#{/a} 
<a href="/${session.username}">我的首页</a> #{a @Secure.logout()}退出#{/a}
</div>

<div id="container">
#{list items:comments, as:'comment'}
<div class="tweet">
	<img class="photo" src="/photo/${comment.from.photo.exists()?comment.from.photo.getUUID():'default'}" />
	#{a @Tweet.showFeeds(comment.from.name)}${comment.from.name}#{/a}：
	<span>${comment.content.raw()}</span>
	#{if comment.parentFeed != null}
	<p class="origin">评论你的微博：${comment.parentFeed.content.raw()}</p>
	#{/if}
	#{if comment.parentComment != null}
	<p class="origin">评论你的微博：${comment.parentComment.content.raw()}</p>
	#{/if}
	<p class="info">
	<span class="pubtime">${comment.showDate()}</span>
	<span class="action">
	<a href="javascript:void(0)" onclick="reply(${comment.id}, '${comment.from.name}')">回复</a>
	</span>
	</p>
</div>
#{/list}
</div>

<p id="pager">
#{if page > 1 }
    #{a @commentList(page - 1) }上一页#{/a}
#{/if}

第${page}页

#{if page < maxpage }
    #{a @commentList(page + 1) }下一页#{/a}
#{/if}
</p>


