#{extends 'main.html' /}
#{set title:'我的私信 eLook-e博' /}

<div id="summary">
#{a @Tweet.showFeeds(session.username)}${session.username}#{/a} 
<a href="/${session.username}">我的首页</a> #{a @Secure.logout()}退出#{/a}
</div>

<div id="container">
#{list items:chats, as:'chat'}
<div class="tweet">
	<img class="photo" src="/photo/${chat.from.photo.exists()?chat.from.photo.getUUID():'default'}" />
	#{a @Tweet.showFeeds(chat.from.name)}${chat.from.name}#{/a}：
	<span>${chat.content.raw()}</span>
	#{if chat.parent != null}
		<p class="origin">回复你的私信：${chat.parent.content.raw()}</p>
	#{/if}
	<p class="info">
	<span class="pubtime">${chat.showDate()}</span>
	<span class="action">
	<a href="javascript:void(0)" onclick="reply(${chat.id}, '${chat.from.name}')">回复</a>
	</span>
	</p>
</div>
#{/list}
</div>

<p id="pager">
#{if page > 1 }
    #{a @chatList(page - 1) }上一页#{/a}
#{/if}

第${page}页

#{if page < maxpage }
    #{a @chatList(page + 1) }下一页#{/a}
#{/if}
</p>


